/*------Gloabal styles-----------*/
html{
    background: color #cccecf;
}
body{
    text-decoration: none;
    width: 1400px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 25px;
}

/*-----navigation-------*/
.nav{
    text-align: right;
    width:100%;
}
nav a{
    display:inline-block;
    margin: 15px;
    text-decoration: none;/*連結不顯示*/
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}
/*-----Content----*/
header{
    position: relative;
    padding-top: 50px;
}
header p {
    font-size: 25px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 10px;
}
/*-------Education-----*/
.education{
    padding-top: 40px;
}

.edu-wrap{
display: grid;
grid-template-columns: 2.5fr 1fr 2.5fr;
column-gap: 100px;
margin: 0 auto;
max-width: 1400px;
}
/*-------Work-----*/
.work{
    padding-top: 40px;
}
.work-wrap{
display: grid;
grid-template-columns: 2.5fr 1.5fr 3fr;
column-gap: 80px;
margin: 0 auto;
max-width: 1400px;
}
.skill{
    font-size: 25px;
    line-height: 2;
}
/*-------Project-----*/
.highschool{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    column-gap: 80px;
    margin: 0 auto;
}
.highschool img{
    margin: 20 15 20 auto;
}
.college{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    column-gap: 80px;
    margin: 0 auto;
}
.college img{
    width: 400px;
    height: 250px;
    margin: 20 15 20 auto;
}
.cw1-des{
    text-decoration: none;
    font-size: 25px;
    line-height: 1;
}
.master{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    column-gap: 80px;
    margin: 0 auto;
}
.mw1-des{
    font-size: 25px;
    line-height: 2;
}
.master img{
    width: 300px;
    height: 450px;
    margin: 5 15 auto;
}
.contact-wrap{
position: relative;
width: auto;
}
.upb img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
}