html{
    background-color: rgb(255, 255, 255);/*背景色*/
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: #d5d6c2;
    padding: 0 40px 40px 40px;
    border: 5px solid black;
}
p{
    font-size: 15px;/*內文*/
    font-family: 'Noto Sans TC', sans-serif;/*字體*/
}

img{
    display: block;
    margin: 0 auto;
}

h1{
    font-size: 120px;
    text-align: left;
    margin: 0;
    padding: 20px;
    color: #000000;
    /*text-shadow: 3px 3px 1px black;*/
}

li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}